<ion-header>
  <ion-navbar>

  </ion-navbar>
</ion-header>

<ion-content padding class="appBackground; no-scroll">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Input your information</h1>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
    <ion-list>
      <ion-item>
        <ion-label floating>Login Name</ion-label>
        <ion-input type="text" name="loginName" formControlName="loginName"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="formErrors.loginName.length">
        <p ion-text color="danger" *ngFor="let errors of formErrors.loginName">
          {{errors}}
        </p>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" name="password" formControlName="password" validateEqual="passwordConfirm" reverse="true"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="formErrors.password.length">
        <p ion-text color="danger" *ngFor="let errors of formErrors.password">
          {{errors}}
        </p>
      </ion-item>

      <ion-item>
        <ion-label floating>Password Confirm</ion-label>
        <ion-input type="password" name="passwordConfirm" formControlName="passwordConfirm" validateEqual="password" reverse="false"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="formErrors.passwordConfirm.length">
        <p ion-text color="danger" *ngFor="let errors of formErrors.passwordConfirm">
          {{errors}}
        </p>
      </ion-item>

      <ion-item>
        <ion-label floating>Last name</ion-label>
        <ion-input type="text" name="lastName" formControlName="lastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>First name</ion-label>
        <ion-input type="text" name="firstName" formControlName="firstName"></ion-input>
      </ion-item>

      <button type="submit" ion-button full [disabled]="!formGroup.valid">Register</button>
    </ion-list>
  </form>

</ion-content>
