page-claim-list {
    .segment-md .segment-button {
        color: white;
        max-width: 30%;
        position: relative;
        bottom: -7px;
        border-bottom: none;
    }
}

.segment-md .segment-button.segment-activated {
    border-bottom: 2px solid white;
}