<ion-header>
  <ion-navbar>
    <ion-segment [(ngModel)]="showType">
      <ion-segment-button *ngFor="let status of statusList" value="{{status}}">
        {{status}}
      </ion-segment-button>
    </ion-segment>

    <ion-buttons end>
      <button ion-button icon-only (click)="createClaim()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>


</ion-header>

<ion-content padding class="appBackground;">

  <div [ngSwitch]="showType">

    <ng-template ngFor let-status [ngForOf]="statusList">
      <ion-list *ngSwitchCase="status">
        <ion-item-sliding *ngFor="let claim of claims | statusFilter: status" (click)="openClaimDetail($event, claim)">
          <ion-item>
            <h2>{{claim.name}}</h2>
            <p>{{claim.content}}</p>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="primary">
              <ion-icon name="cross"></ion-icon>
              EDIT
            </button>

            <button ion-button color="lightprimary">
              <ion-icon name="cross"></ion-icon>
              CLOSE
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ng-template>

  </div>

</ion-content>
